<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=ServerName;Initial Catalog=DatabaseName;User ID=Username;Password=YourPassword;Integrated Security=False;Persist Security Info=False;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;Application Name=YourAppName;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>