<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="$ {DefaultConnection}" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="your-secret-key" value="$ {your-secret-key}"/>
		<add key="your-issuer" value="$ {your-issuer}"/>
		<add key="your-audience" value="$ {your-audience}"/>
		<add key="SendGridAPIKey" value="$ {SendGridAPIKey}"/>
		<add key="SenderEmail" value="$ {SenderEmail}"/>
	</appSettings>
</configuration>
